<component name="ArtifactManager">
  <artifact type="war" name="springMvc-web:war">
    <output-path>$PROJECT_DIR$/springMvc-web/target</output-path>
    <root id="archive" name="springMvc-web.war">
      <element id="artifact" artifact-name="springMvc-web:war exploded" />
    </root>
  </artifact>
</component>